%form{role: 'form', method: 'post'}
  %div.form-group
    %label
      Server URL
    %input.form-control{placeholder: 'http://127.0.0.1:2812/', name: 'url'}
  %button.btn.btn-default{type: 'submit'}
    Submit