%h3
  = server.system.name
  - if server.system.status == 0
    %i.fa.fa-check-circle
  - else
    %i.fa.fa-times-circle

%h4
  Filesystems
%table.table
  %thead
    %th{style: "width: 10%"}
      Name
    %th
    %th.text-right{style: "width: 10%"}
      Usage
  %tbody
    - server.filesystems.each do |fs|
      = partial(:filesystem, locals: {filesystem: fs})

%h4
  Processes
%table.table
  %thead
    %th
      Name
    %th{style: "width: 17%"}
      CPU
    %th{style: "width: 17%"}
      Memory
    %th.text-right{style: "width: 17%"}
      Uptime
  %tbody
    - server.processes.each do |p|
      = partial(:process, locals: {process: p})
